<!--
<% if flash[:notice] %>-->
    <!--<div class="alert alert-success" role="alert">-->
    <!--<%= flash[:notice] %>-->
    <!--</div>-->
    <!--
<% end %>-->

<div class="row">

  <div class="col-md-2" style="background-color: blue">
    <br>

  </div>
  <div class="col-md-10" style="background-color: red">
    <br>
  </div>

</div>