<!--
<% if flash[:notice] %>-->
    <!--<div class="alert alert-success" role="alert">-->
    <!--<%= flash[:notice] %>-->
    <!--</div>-->
    <!--
<% end %>-->

<div class="row">
  <div class="col-md-9" style="background-color: red">
    <br>
  </div>

  <div class="col-md-3">
    <div class="right-pad-wrapper">
        <div class="user-list-header">
RR
        </div>
        <div class="user-list-table">
SS
        </div>
    </div>

  </div>

</div>