<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>
<h1>Welcome</h1>
<p>با موفقیت ثبت‌نام شدید لطفا تا ۲۴ ساعت دیگر نسبت به تایید حساب خود از طریق ایمیل اقدام نمایید.</p>
