<!--
<% if flash[:notice] %>-->
    <!--<div class="alert alert-success" role="alert">-->
    <!--<%= flash[:notice] %>-->
    <!--</div>-->
    <!--
<% end %>-->
ssssssssssss
<br>
ssssssssssss
<br>
ssssssssssss
<br>
ssssssssssss
<br>

<%= flash[:notice] %>

<span class="fa fa-camera-retro"> </span>

<div class="row">
  <div class="col-md-1"></div>
  <div class="row">
       <div class="col-md-2">

       </div>
       <div class="col-md-10">

       </div>
  </div>
  <div class="col-md-1"></div>
</div>