
<div class = "container-fluid">
  <div class = "row">
	<!--<div class="form-group" id="hp-input-fields">-->

      <div class = "table-responsive">
        <table class="table">
          <tbody>
          <% counter = paper.paper_fields.length %>
          <%(0..counter).step(3) do |n| %>
              <tr>
                <% (n..n+2).each do |m| %>
                    <%if(m >= counter)%>
                        <% break %>
                    <%end%>
                    <% pf = paper.paper_fields[m] %>
                    <th>
                      <table>
                        <tr>
                          <%= pf.name %>
                        </tr>
                        <tr>
                          <%= form_for :tf , url: {action: 'save_paper_field' , controller: 'games' , pf_id: pf.id } , :remote => true, :html => {:id => "f_#{pf.name}"}  do

                          |f2| %>
                              <% unless paper.game.first_stop_player_id.to_s == paper.owner.id.to_s %>
                              <%= text_field_tag "pf.value",pf.value , autofocus: true , :class => 'form-control', :id => "i_#{pf.name}"%>
                                <% end %>

                          <% end %>
                        </tr>
                      </table>
                    </th>
                <% end %>
              </tr>


          <%end%>
          </tbody>

        </table>
      </div>

	</div>
  </div>