<div class="game-show-list-box jumbotron">
     <div class = "list-header  ">
       <br>
       بازی 
       <br>
       <br>
       <div class="game-name">
        <%= @game.title %>
       </div>
       <br>

      <% if @game.is_running %>

        <%= render :partial => 'games/paper' , :locals => {:game => @game , :paper => @paper} %>
      <% end %>
    </div>
    <% if @game.is_running == false%>
  <div class = "list-row">
    <%= link_to 'پایان', :action => :end_game, :controller => :games, :id => @game.id, remote: true %>

  </div>
  <div class = "list-row">
    <%= link_to 'بازگشت', @game.room %>
  </div>
  <%end%>
</div>
