<div class="game-show-list-box">
     <div class = "list-header ">
       بازی 
       <br>
       <br>
       <div class="game-name">
        <%= @game.title %>
       </div>
      <% if @game.is_running %>
        <%= render :partial => 'games/paper' , :locals => {:game => @game , :paper => @paper} %>
      <% end %>
    </div>
  <div class = "list-row">
    <%= link_to 'پایان', :action => :end_game, :controller => :games, :id => @game.id, remote: true %>

  </div>
  <div class = "list-row">
    <%= link_to 'بازگشت', @game.room %>
  </div>
</div>
