<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4" id="hp-signup-form">
      <div class="jumbotron" id = "hp-main-jumbotron" >
        <h2 id="signin-form-head">ورود</h2>
        <div class="container" >
          <%= render "devise/sessions/login_form" %>
          <div id= "hp-links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
