<tr id="tr_<%=player.id%>">
  <td><%= player.user.username %></td>
  <% if current_user.id == @room.admin.user.id %>
  <td><%= link_to 'حذف کاربر', "/rooms/#{room.id}/kick_out/#{player.id}",
                  :confirm => 'آیا مطمئن هستید?', :method => :delete, :remote => true, :class => "kick-out-link" %></td>
<%end%>
      </tr>