<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4" id="hp-signup-form">
      <div class="jumbotron" id = "hp-main-jumbotron" >
        <h2 id="signin-form-head">اتاق جدید</h2>
        <div class="container" >
        	<%= render 'form' %>
          	<div id= "hp-links">
           		<%= link_to 'لیست اتاق‌ها', rooms_path ,:class=>"btn btn-default btn-block" ,:id=>"login-btn"%>
          	</div>
        </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

