#hp-navbar{
	background-color:#B9F1B8;
}
#hp-signup-btn{
	background-color:#B9F1B8;
}
#hp-captcha{
	width: 100%;
}
#hp-main-jumbotron{
	background-color:#50BE4F;
}
#hp-signup-form{
	padding: 1%;
}
#date_input_1{
	width: 90%; 
}
#date_btn_1{
	align: center;
}
#hp-intro-jumbotron{
	background-color:#97E997;
}