#hp-navbar{
	background-color:#F2F2F3;
}
#hp-signup-btn{
	background-color:#EE4B3E;
}
#hp-captcha{
	width: 100%;
}
#hp-main-jumbotron{
	background-color: #F2F2F3;
	border-color: #1FDA9A;
	border-radius: 0px;
	border-width: 10px;
	border-style: solid; 
}
#hp-signup-form{
	padding: 1%;
}
#date_input_1{
	width: 90%; 
}
#date_btn_1{
	align: center;
}
/*
#hp-inner-container{
	background-color: red;
	width: 100%;
	margin: 0;


}*/
div.transparent{
	/*opacity: 0.6;*/
	margin: 0%;
    background-color: #ffffff;
    /*border: 1px solid black;*/
    opacity: 0.6;
    filter: alpha(opacity=60); 
}
div.transparent p {
	 margin: 0%;
    /*font-weight: bold;*/
    color: #000000;
}
.hp-intro-jumbotron{
	background-image: url('esmfamil.png');
	background-size: 100% 100%;
	/*opacity: 0.4;*/
}