#rs-signup-form-head{
	color: #1FDA9A;
	margin-right: 5%;
	text-align: center;
}
#signin-form-head{
	color: #1FDA9A;
	text-align: center;
}
.cap-num{
	margin-top: 7px;
	float: right;
}
#enable{
	margin-top: 10px;
}