<h1>Profile#show</h1>

<p>
  <strong>First name:</strong>
  <%= @profile.fname %>
</p>
 
<p>
  <strong>Last name:</strong>
  <%= @profile.lname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.bdate %>
</p>

<p>Find me in app/views/profile/show.html.erb</p>
